black==21.7b0
docutils==0.17.1
flake8==3.9.2
isort==5.9.3
mock==4.0.2
nose2==0.10.0
pep8==1.7.1
autopep8==1.5.7
pylint==2.9.6
tox==3.24.1
testfixtures==6.18.0
vcrpy==4.1.1
requests==2.31.0
msal==1.24.1
cryptography>=42.0.2 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability